@font-face {
  font-family: Vazir;
  src: url("Vazir-Regular.eot");
  src: url("Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Regular.woff2") format("woff2"),
    url("Vazir-Regular.woff") format("woff"),
    url("Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold.eot");
  src: url("Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Bold.woff2") format("woff2"),
    url("Vazir-Bold.woff") format("woff"),
    url("Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Black.eot");
  src: url("Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Black.woff2") format("woff2"),
    url("Vazir-Black.woff") format("woff"),
    url("Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Medium.eot");
  src: url("Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Medium.woff2") format("woff2"),
    url("Vazir-Medium.woff") format("woff"),
    url("Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Light.eot");
  src: url("Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Light.woff2") format("woff2"),
    url("Vazir-Light.woff") format("woff"),
    url("Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin.eot");
  src: url("Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Thin.woff2") format("woff2"),
    url("Vazir-Thin.woff") format("woff"),
    url("Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-FD.eot");
  src: url("Vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-FD.woff2") format("woff2"), url("Vazir-FD.woff") format("woff"),
    url("Vazir-FD.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold-FD.eot");
  src: url("Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Bold-FD.woff2") format("woff2"),
    url("Vazir-Bold-FD.woff") format("woff"),
    url("Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Light-FD.eot");
  src: url("Vazir-Light-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Light-FD.woff2") format("woff2"),
    url("Vazir-Light-FD.woff") format("woff"),
    url("Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Medium-FD.eot");
  src: url("Vazir-Medium-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Medium-FD.woff2") format("woff2"),
    url("Vazir-Medium-FD.woff") format("woff"),
    url("Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin-FD.eot");
  src: url("Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Thin-FD.woff2") format("woff2"),
    url("Vazir-Thin-FD.woff") format("woff"),
    url("Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Vazir;
  src: url("Vazir-Black-FD.eot");
  src: url("Vazir-Black-FD.eot?#iefix") format("embedded-opentype"),
    url("Vazir-Black-FD.woff2") format("woff2"),
    url("Vazir-Black-FD.woff") format("woff"),
    url("Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
}
