@import '~@angular/material/theming';

@mixin app-root-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-root {
    background-color: mat-color($warn);
  }

}