<div dir="rtl">
  <mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <div>
      <a mat-button [routerLink]="['/']" class="persian"> صفحه اصلی </a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fixedInViewport="true">
    <mat-sidenav-content>
      <div class="main-content">
        <app-theme-selection
          (darkModeSwitched)="switchMode($event)"
        ></app-theme-selection>
        <br />
        <div>
          <router-outlet></router-outlet>
        </div>
        <br />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>