@font-face {
font-family: Samim;
src: url('Samim.eot');
src: url('Samim.eot?#iefix') format('embedded-opentype'),
     url('Samim.woff2') format('woff2'),
     url('Samim.woff') format('woff'),
     url('Samim.ttf') format('truetype');
font-weight: normal;
}

@font-face {
font-family: Samim;
src: url('Samim-Bold.eot');
src: url('Samim-Bold.eot?#iefix') format('embedded-opentype'),
     url('Samim-Bold.woff2') format('woff2'),
     url('Samim-Bold.woff') format('woff'),
     url('Samim-Bold.ttf') format('truetype');
font-weight: bold;
}

@font-face {
font-family: Samim;
src: url('Samim-Medium.eot');
src: url('Samim-Medium.eot?#iefix') format('embedded-opentype'),
     url('Samim-Medium.woff2') format('woff2'),
     url('Samim-Medium.woff') format('woff'),
     url('Samim-Medium.ttf') format('truetype');
font-weight: 500;
}