$my-dark-theme-primary: mat-palette($mat-pink);
$my-dark-theme-accent: mat-palette($mat-blue-gray);
$my-dark-theme-warn: mat-palette($mat-orange);
$my-dark-theme: mat-dark-theme(
    $my-dark-theme-primary,
    $my-dark-theme-accent,
    $my-dark-theme-warn
);