<!-- <p dir="auto">input works!</p>
<div>{{ names[0] }}</div> -->

<form class="main">
  <mat-spinner *ngIf="spinFlag"></mat-spinner>
  <mat-form-field appearance="fill" color="warn" *ngIf="!spinFlag">
    <mat-label class="persian">نماد خود را وارد کنید</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="myControl"
      id="myInput"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="click($event)">
      <mat-option class="persian" *ngFor="let item of filteredNames | async" [value]="item">
        {{ item }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<app-treemap></app-treemap>