::ng-deep :root {
  --td-color: hsl(0, 0%, 96%);
  --td-color-even: hsl(180, 40%, 96%);
  --th-color-even: hsl(180, 40%, 98%);
  --hover: hsl(180, 40%, 93%);
  --purchase: hsl(240, 100%, 80%);
  --sale: hsl(0, 100%, 80%);
  --name: hsl(270, 10%, 80%);
}

* {
  font-size: small;
}

.information {
  overflow-wrap: break-word;
}

.mat-card {
  background-color: var(--name);
  padding: 2px !important;
}

.selectedName {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
  //   border: black;
  grid-gap: 1em;
}

table {
  width: 100%;
  transition: none !important;
  box-shadow: none !important;
}

table,
td,
th {
  border: 1px solid #ddd;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  padding: 1.5% !important;
}

tr.mat-header-row,
tr.mat-row {
  height: 2em !important;
}

td {
  background-color: var(--td-color);
}

td:nth-child(even) {
  background-color: var(--td-color-even);
}

th:nth-child(even) {
  background-color: var(--th-color-even);
}

.purchase th {
  width: 33%;
}

.purchase th,
.purchase td,
.transaction th,
.transaction td,
.status th,
.status td {
  padding: 3% !important;
}

.purchase {
  grid-column: 1/4;
  grid-row: 1/7;
}

.transaction {
  display: flex;
  flex: 1;
  grid-column: 6/9;
  grid-row: 1/7;
}

.status {
  display: flex;
  flex: 1;
  grid-column: 4/6;
  grid-row: 1/7;
}

.base {
  display: flex;
  flex: 1;
  grid-column: 9/12;
  grid-row: 1/7;
}

.persale {
  grid-column: 6/12;
  grid-row: 7/14;
  // align-self: start;
}

.legal {
  grid-column: 1/6;
  grid-row: 7/14;
}

#persaleHeader th {
  width: 50%;
  background-color: var(--purchase);
}

#persaleHeader th:nth-child(even) {
  background-color: var(--sale);
}

#persale th {
  width: 16%;
  background-color: var(--purchase);
}

#persale th:nth-child(4),
#persale th:nth-child(5),
#persale th:nth-child(6) {
  background-color: var(--sale);
}

#legalVolume th,
#legalNumber th {
  width: 42.5%;
}

#legalVolume th:nth-child(1),
#legalNumber th:nth-child(1) {
  width: 15%;
}

#legalVolume th:nth-child(2),
#legalNumber th:nth-child(2) {
  // width: 50%;
  background-color: var(--purchase);
}

#legalVolume th:nth-child(3),
#legalNumber th:nth-child(3) {
  background-color: var(--sale);
}

@media screen and (max-width: 900px) {
  .purchase {
    grid-area: purchase;
  }

  .transaction {
    grid-area: transaction;
  }

  .status {
    grid-area: status;
  }

  .base {
    grid-area: base;
  }

  .persale {
    grid-area: persale;
  }

  .legal {
    grid-area: legal;
  }

  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "purchase" "transaction" "status" "legal" "base" "persale";
  }
}

tr:hover td,
tr:hover th {
  background-color: var(--hover);
}