<mat-card>
  <div class="selectedName persian">
    {{ itemWholeName }} ({{ itemName }})
  </div>
</mat-card>
<br />
<div class="information">
  <div class="wrapper">
    <div class="purchase">
      <!-- for purchaseTable -->
      <table
        mat-table
        id="purchase"
        [dataSource]="purchaseData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of purchaseColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>{{ purchaseHeaders[i] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="purchaseColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: purchaseColumns"></tr>
      </table>

      <!-- for priceTable -->
      <table
        mat-table
        id="price"
        [dataSource]="priceData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of priceColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>{{ priceHeaders[i] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="priceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: priceColumns"></tr>
      </table>
    </div>

    <div class="transaction">
      <!-- for transactionTable -->
      <table
        mat-table
        id="transaction"
        [dataSource]="horiTransactionData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of horiTransactionColumns; let i = index"
          [matColumnDef]="col"
        >
          <td mat-cell *matCellDef="let element" style="width: 50%" dir="ltr">
            {{ element[col] }}
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: horiTransactionColumns"></tr>
      </table>
    </div>

    <div class="status">
      <!-- for statusTable -->
      <table
        mat-table
        id="status"
        [dataSource]="horiStatusData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of horiStatusColumns; let i = index"
          [matColumnDef]="col"
        >
          <td mat-cell *matCellDef="let element" style="width: 50%">
            {{ element[col] }}
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: horiStatusColumns"></tr>
      </table>
    </div>

    <div class="base">
      <!-- for baseTable -->
      <table
        mat-table
        id="base"
        [dataSource]="horiBaseData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of horiBaseColumns; let i = index"
          [matColumnDef]="col"
        >
          <td mat-cell *matCellDef="let element" style="width: 50%"  dir="ltr">
            {{ element[col] }}
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: horiBaseColumns"></tr>
      </table>
    </div>

    <div class="persale">
      <!-- for header -->
      <table mat-table id="persaleHeader" class="persian mat-elevation">
        <ng-container
          *ngFor="let col of persaleHeaderColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ persaleHeaderColumns[i] }}
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="persaleHeaderColumns"></tr>
      </table>

      <!-- for PurchaseSaleTable -->
      <table
        mat-table
        id="persale"
        [dataSource]="persaleData"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of persaleColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>{{ persaleHeaders[i] }}</th>
          <td mat-cell *matCellDef="let element"  dir="ltr">{{ element[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="persaleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: persaleColumns"></tr>
      </table>
    </div>

    <div class="legal">
      <!-- for legalTable of Volume -->
      <table
        mat-table
        id="legalVolume"
        [dataSource]="legalDataVolume"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of legalColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>{{ legalHeadersVolume[i] }}</th>
          <td mat-cell *matCellDef="let element"  dir="ltr">{{ element[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="legalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: legalColumns"></tr>
      </table>

      <!-- for legalTable of Number -->
      <table
        mat-table
        id="legalNumber"
        [dataSource]="legalDataNumber"
        class="persian mat-elevation"
      >
        <ng-container
          *ngFor="let col of legalColumns; let i = index"
          [matColumnDef]="col"
        >
          <th mat-header-cell *matHeaderCellDef>{{ legalHeadersNumber[i] }}</th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="legalColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: legalColumns"></tr>
      </table>
    </div>
  </div>

  <br />
  <br />

  <div class="barChart">
    <app-bar-chart [itemId]="itemId"></app-bar-chart>
  </div>

  <br />

  <div class="candleChart">
    <app-candle-chart [itemId]="itemId"></app-candle-chart>
  </div>
</div>
