<div
  echarts
  id = "myChart"
  [options]="chartOption"
  [merge]="updateOptions"
  [theme]='theme'
  class=echarts
  *ngIf="showFlag"
></div>

<mat-card *ngIf="!showFlag" class="constant">
  <div> در حال حاضر نماد معامله نمی شود و قیمت ها ثابت است</div>
</mat-card>
