$font-family: "Vazir", "sans-serif";

.persian {
  text-align: right;
  font-family: $font-family;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
