@import '~@angular/material/theming';
@include mat-core();

@import 'themes/my-light-theme.scss';
@import 'themes/my-dark-theme.scss';

@import 'app/app.component.scss-theme.scss';

// apply the created palettes for angular material theme and root
@mixin my-components-theme($theme) {
    @include angular-material-theme($theme);
    @include app-root-theme($theme);
}

.my-light-theme{
    @include my-components-theme($my-light-theme);
}

.my-dark-theme{
    @include my-components-theme($my-dark-theme);
}