.mat-toolbar {
    min-height: 35px !important; 
    height: 35px !important;
    width: 150px !important;
    // position: fixed;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    border-radius: 10px;
}