<mat-toolbar color="primary">
    <span style='font-size:70%'>
      <mat-slide-toggle (change)="onDarkModeSwitched($event)">
        <span class="persian">حالت تاریک</span>
      </mat-slide-toggle>
    </span>
</mat-toolbar>
