::ng-deep :root {
  --light: hsl(236, 89%, 63%);
  --light-sel: hsl(236, 77%, 83%);
  --dark: hsl(337, 94%, 50%);
  --dark-sel: hsl(337, 87%, 75%);
}

.flex {
  display: flex;
  .flexContainer {
    flex-grow: 100;
  }
  .Container {
    flex-grow: 1;
    margin-top: 1%;
    margin-bottom: 1%;
    .mat-button-toggle-group {
      display: flex;
      border-radius: 16px !important;
      height: 30px;
      align-items: center;
      border: 0;

      .mat-button-toggle {
        width: 60%;
        font-size: 10px;
        background-color: var(--light);
      }
      .mat-button-toggle-checked {
        background-color: var(--light-sel);
      }
    }
  }
}
