<div class="flex">
  <div class="flexContainer"></div>
  <div class="Container">
    <mat-button-toggle-group [(ngModel)]="areaBase" (click)="changeView()" class="matButton">
      <mat-button-toggle value="volume" color="accent" class="persian">حجم معاملات</mat-button-toggle>
      <mat-button-toggle value="value" color="accent" class="persian">نسبت ارزش معاملات</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="flexContainer"></div>
</div>

<div
  echarts
  [options]="chartOption"
  [merge]="updateOptions"
  [theme]="theme"
  class="echarts"
></div>
