<div
  echarts
  [options]="chartOption"
  [merge]="updateOptions"
  id="myChart"
  [theme]="theme"
  class="echarts"
  *ngIf="showFlag"
></div>

<!-- <mat-card color="primary">
  <div *ngIf="!showFlag" class="not">در حال حاضر نماد خرید و فروش نمی شود</div>
</mat-card> -->
